.block-column {
    display: inline-flex;
    flex-direction: column;
    max-width: 900px;
}

.dice {
    display: inline-flex;
    flex-direction: row;
}

#playersClass {
    height: 400px;
    width: 400px;
}

img{
    height: 50px;
    width: 50px;
}

#playersHP{
    text-align: left;
    color: red;
    font-size: 40px;
    font-weight: bold;
    margin: 0px 300px 0px 0px;
}

#enemyHP{
    text-align: right;
    color: red;
    font-size: 40px;
    font-weight: bold;
}

.lose {
    -webkit-animation-name: lose;
    -webkit-animation-duration: 2s;
    animation-name: lose;
    animation-duration: 2s;
    animation-iteration-count: 10;
}

.win{
    -webkit-animation-name: win;
    -webkit-animation-duration: 2s;
    animation-name: win;
    animation-duration: 2s;
    animation-iteration-count: 10; 
}

@keyframes lose {
    from {color: red;}
    to {color: white;}
}

@keyframes win {
    from {color: green;}
    to {color: white;}
}